
.todo-list-items{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    text-transform: capitalize;
    gap: 5px;
}
.item-text{
    width: 65%;
    text-align: justify;
    font-size: 18px;
    padding: 5px;
}

.todo-item button{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px;
    color: white;
}

.todo-item button:focus{
    outline: none;
}

.update{
    background-color: green;
}

.complete{
    background-color: burlywood;
}

.delete{
    background-color: #8E1600;
}

.to-home{
    color: #000;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    line-height: 1.2;
}

@media(max-width:600px) {
    .todo-list-items{
      width: 100%;
      display: flex;
    }
    .todo-list{
      width: 100%;
      margin-left: 5px;
      margin-right: 5px;
    }
    .add-todo-item{
      width: 100%;
    }
  }